.jumbotron {
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  background-color: #EF875B;
}

h4 {
  text-align: center;
}
#order {
  background-color: #EF875B;
}

#order-again {
  background-color: black;
  color: white;
}

p {
  font-weight: bold;
}

#result {
  display: none;
}

#order-again {
  display: none;
}
